env/
database_management.ipynb
db_atlas.json
*.pyc
_config.json
matstract/_config.json

notebooks/
.idea/
matstract/bin/
matstract/web/static/docs/.ipynb_checkpoints/
**/.ipynb_checkpoints/

# mac specific #
.DS_store

# pycharm files #
*/.idea/**
.idea/**

# Scopus files #
extract/config.json
extract_data.py
data_extraction.ipynb
scidir_search_results.p
collect/scopus_config.json
scopus_testing.ipynb
scopus_config.json

john_atlas_creds.json
david_atlas_creds.json
matstract/db_atlas.json
matstract/atlas_creds.json
matstract/_config.json

# Config Files
matstract/config/db_creds.json

# build related #
*.egg-info/
dist/
build/
s3*/
.eggs/
.cache/

src/
collect/logs/
logs/

abstracts.txt
abstracts_*
tokenize_abstracts.py
generate_w2v_file.py

matstract/nlp/embedding_vectors.npz
matstract/nlp/normalized_embeddings.npy
matstract/nlp/PRO.out
matstract/nlp/w2v.p
matstract/nlp/word2index.p
matstract/nlp/words.txt
matstract/web/static/docs/R-NR.md
matstract/web/static/docs/general.md
