env/
database_management.ipynb
db_atlas.json
*.pyc

notebooks/
.idea/
matstract/bin/

# mac specific #
.DS_store

# pycharm files #
*/.idea/**
.idea/**

# Scopus files #
extract/config.json
extract_data.py
data_extraction.ipynb
scidir_search_results.p
collect/scopus_config.json
scopus_testing.ipynb

john_atlas_creds.json
matstract/db_atlas.json

# build related #
*.egg-info/
dist/
build/

src/
