flask
pymongo
plotly
dash
dash-renderer
dash-html-components
dash-core-components
pandas
pymatgen
gunicorn
elsapy
Flask-Caching
nltk
tqdm
sklearn
-e git://github.com/materialsintelligence/ChemDataExtractor#egg=chemdataextractor
-e git://github.com/vtshitoyan/dash-materialsintelligence#egg=dash-materialsintellignce
