flask
pymongo
plotly
dash
dash-renderer
dash-html-components
dash-core-components
dash-materialsintellignce
pandas
pymatgen
gunicorn
Flask-Caching
nltk
-e git://github.com/materialsintelligence/ChemDataExtractor#egg=chemdataextractor
