/* Containers */

div.row {
    padding: 5px 0px;
}

#first_macro_row {
    border-top: 2px solid #999;
}

#label_container {
    border-bottom: 2px solid #999;
}

.tokens-0 {
    font-size: large;
    padding: 10px 0px
}

div#macro_annotation_container {
    margin-top: 10px;
}


/* highlighting */

.token {
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 3px;
}

.highlighted {
}

.highlighted.label {
    margin: 2px;
}

.highlighted.material {
    background-color: #FFDC00;
}

.highlighted.inorganic_crystal {
    background-color: #FF851B;
}

.highlighted.main_material {
    background-color: #FF4136;
}

.highlighted.property {
    background-color: #2ECC40;
}

.highlighted.property_value {
    background-color: #39CCCC;
}

.highlighted.property_unit {
    background-color: #7FDBFF;
}


/* Labels */

label.highlighted.label {
    cursor: pointer;
    display: inline;
    border: none;
    font-weight: normal;
    padding: 4px 6px;
    margin: 0px 5px;
}

label.highlighted.label.selected {
    border: 2px solid black;
}

.labels input {
    visibility: hidden;
    margin-left: -15px;
}

.labels {
    border-bottom: 2px solid #999;
}

.labels span {
    margin-right: 15px;
}